:root {
  --link-color: #ffffff;
}
body {
  color: #434455;
  background-color: var(--link-color);
  font-family: Roboto, sans-serif;
}
.container .list {
  display: flex;
  gap: 24px;
}
/* Відступи у секції 2 . вирішення проблем */
.list-prob .item {
  width: calc((100% - 72px) / 4);
}
/* властивість фото */
img {
  display: block;
}
/* властивість для всіх контейнерів */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding: 0 15px;
}
/* посилання */
.link {
  text-decoration: none;
  padding: 24px 0;
}
/* виключення стилів для списків */
.list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 0;
}

/* шапка сторінки */
.head .container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}

/* Логотип шапки */
.nav .logo-nav {
  margin-right: 76px;
}
.head {
  border-bottom: 1px solid #e7e9fc;
}
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-style: "ExtraBold";
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 800;
  text-transform: uppercase;
  padding: 24px 0;
}
.logo-studio {
  color: #2e2f42;
}
/* Меню  */

.menu-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container .nav .menu-nav {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
/* адрес */
.adres a {
  color: #434455;
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adres {
  font-style: normal;
}
.nav-container .adres {
  margin-left: 332px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.adres .list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
  padding-left: 332px;
}
/* Зміна кольору при діях */
.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}

/* hero  */
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}
.title-hero {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  color: var(--link-color);
  font-style: "Bold";
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
/* не активна кнопка героя */
.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
}
/* кнопки в профілю */
.button {
  color: var(--link-color);
  background-color: #4d5ae5;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}
/* активна кнопка */
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* кнопки фільтрів */
.button.filter {
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button.filter:active,
.button.filter:hover,
.button.filter:focus {
  color: var(--link-color);
  background-color: #404bbf;
}
/* Заголовки секцій */
.title-section {
  margin-top: 0;
  margin-bottom: 72px;

  color: #2e2f42;
  font-style: "Bold";
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section {
  padding: 120px 0;
}
/* заголовок підсекцій */
.title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  color: #2e2f42;
  font-style: "Medium";
  font-size: 20px;
  line-height: 1.2;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* текст */
.text {
  margin-top: 0;
  margin-bottom: 0;

  color: #434455;
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* фон секції команди */
.team {
  margin-top: 0;
  margin-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}
.team-fon {
  background-color: #f4f4fd;
}
.list li {
  background-color: var(--link-color);
}
/* foter */
.logo-footer {
  margin-top: 0;
  margin-bottom: 16px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo-nav {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
}
.text-footer {
  max-width: 264px;
}
.logo-footer,
.text-footer {
  color: #f4f4fd;
}
/* загаловок карточок */
.title-card {
  margin-top: 0;
  margin-bottom: 8px;

  color: #2e2f42;
  font-weight: 500;
  font-style: "Medium";
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
}
/* заголовки під фото карточками команди */
.name {
  padding: 32px 16px;
}
.name .title {
  text-align: center;
  margin-bottom: 8px;
}
.name .text {
  text-align: center;
}
