:root {
  --link-color: #ffffff;
}
body {
  color: #434455;
  background-color: var(--link-color);
  font-family: Roboto, sans-serif;
}
.container .list {
  display: flex;
  gap: 24px;
}
/* Відступи у секції 2 . вирішення проблем */
.list-prob .item {
  width: calc((100% - 72px) / 4);
}
/* властивість фото */
img {
  display: block;
}
/* властивість для всіх контейнерів */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding: 0 15px;
}
/* посилання */
.link {
  text-decoration: none;
  padding: 0;
}
/* виключення стилів для списків */
.list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 0;
}

/* шапка сторінки */
.head .container {
  display: flex;
  padding-bottom: 0;
}
.nav {
  display: flex;
  align-items: center;
}

/* Логотип шапки */
.nav .logo-nav {
  margin-right: 76px;
}
.head {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-style: "ExtraBold";
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 800;
  text-transform: uppercase;
  padding: 24px 0;
}
.logo-studio {
  color: #2e2f42;
}
/* Меню  */

.menu-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container .nav .menu-nav {
  display: flex;
  gap: 40px;
  padding-left: 0;
}
.menu-nav .link,
.logo-nav .link {
  padding: 24px 0;
}
/* адрес */
.adres a {
  color: #434455;
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adres {
  font-style: normal;
}
.nav-container .adres {
  margin-left: 332px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.adres .list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
  padding-left: 332px;
}
/* Зміна кольору при діях */
.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}

/* hero  */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people.jpg");
}
.title-hero {
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  color: var(--link-color);
  font-style: "Bold";
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
/* не активна кнопка героя */
.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* властивість для всіх кнопок */
.button {
  color: var(--link-color);
  background-color: #4d5ae5;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}
/* активна кнопка */
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* кнопки фільтрів */
.button.filter {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.button.filter:hover,
.button.filter:focus {
  border: 1px solid transparent;
  color: var(--link-color);
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
/* Заголовки секцій */
.title-section {
  margin-top: 0;
  margin-bottom: 72px;

  color: #2e2f42;
  font-style: "Bold";
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.section {
  padding: 120px 0;
}
.section-prob {
  padding-top: 0;
}
/* заголовок підсекцій */
.title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  color: #2e2f42;
  font-style: "Medium";
  font-size: 20px;
  line-height: 1.2;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* текст */
.text {
  margin-top: 0;
  margin-bottom: 0;

  color: #434455;
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  text-align: Left;
  letter-spacing: 0.02em;
}
.text.text-work {
  margin-bottom: 8px;
}
/* фон секції команди */
.team {
  display: inline-block;
  margin-top: 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.pord-activ:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-fon {
  background-color: #f4f4fd;
}
.list li {
  background-color: var(--link-color);
}
/* foter */
.footer .size-t-footer .logo-footer {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo-nav {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
}
.size-t-footer {
  max-width: 264px;
  box-sizing: content-box;
  margin-right: 120px;
}

.logo-footer,
.text-footer {
  color: #f4f4fd;
}
/* загаловок карточок */
.title-card {
  margin-top: 0;
  margin-bottom: 8px;

  color: #2e2f42;
  font-weight: 500;
  font-style: "Medium";
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
}
/* заголовки під фото карточками команди */
.name {
  padding: 32px 0;
}
.name .title {
  text-align: center;
  margin-bottom: 8px;
  border-top: none;
}
.name .text {
  text-align: center;
}
/* контейнер списку продуктів */
.container .list-products {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.container-footer {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding: 0 15px;
}
.section-portfolio {
  padding: 96px 0 120px;
}
/* Карточки з назвою продуктів */
.name-products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.text-social {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}
/* іконки в 2 секції */
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.link-icon {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}
.list-icon-meseng {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.item-icon-meseng {
  width: 40px;
  height: 40px;
}
.icon-color {
  fill: #f4f4fd;
}
.footer .list-icon-meseng {
  gap: 16px;
}
.footer .link-icon:hover,
.footer .link-icon:focus {
  background-color: #31d0aa;
}
.pord-activ .link {
  display: block;
}
.pord-activ .link:hover,
.pord-activ .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.icon-client {
  fill: currentColor;
}
.link-client:hover,
.link-client:focus {
  border-color: #404bbf;
  color: #404bbf;
  fill: #404bbf;
}
.item-icon-client {
  width: 168px;
  height: 88px;
}
.link-client {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.tumba-div {
  position: relative;
}
.tumba {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: #4d5ae5;
  opacity: 0;
}
.text-products {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: "Roboto";
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  overflow: auto;
  font-weight: 400;
}
.pord-activ:hover .tumba,
.pord-activ:focus .tumba {
  opacity: 1;
}
.link-menu-ackt::after {
  position: absolute;
  bottom: -5%;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;

  border-radius: 2px;
  opacity: 0;
}
.link {
  position: relative;
}
.bod:hover .link-menu-ackt::after {
  opacity: 1;
}
.bod-p:hover .link-menu-ackt::after{
  opacity: 1;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 576px;

  border-radius: 4px;
  background-color: #fcfcfc;

  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.exid {
  position: absolute;
  right: 24px;
  top: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px inset rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.exid:hover,
.exid:active {
  background-color: #404bbf;
  fill: #ffffff;
  cursor: pointer;
}
