body {
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  font-family: Roboto, sans-serif;
}
/* виключення стилів для списків */
.list {
  list-style: none;
}
/* Логотип шапки */
.logo-nav {
  font-family: "raleway", sans-serif;
  font-style: "ExtraBold";
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 800;
}
.logo-studio {
  color: #2e2f42;
}
/* Меню  */
.menu-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* адрес */
.adres a {
  color: #434455;
  font-style: "Regular";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Зміна кольору при діях */
.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
/* hero  */
.hero {
  background-color: #2e2f42;
}
.title-hero {
  color: #ffffff;
  font-style: "Bold";
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
/* не активна кнопка */
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-style: "Medium";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
}
/* активна кнопка */
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* Заголовки секцій */
.title-section {
  color: #2e2f42;
  font-style: "Bold";
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 2%;
}
/* заголовок підсекцій */
.title {
  font-weight: 500;
  color: #2e2f42;
  font-style: "Medium";
  font-size: 20px;
  line-height: 1.2;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* текст */
.text {
  font-style: "Regular";
  font-size: 16px;
  line-height: 0.7;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* фон секції команди */
.team-fon {
  background-color: #f4f4fd;
}
.list li {
  background-color: #ffffff;
}
/* foter */
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  color: #ffffff;
}
.text-footer {
  color: #f4f4fd;
}
/* загаловок карточок */
.title-card{
  color: #2E2F42;
  font-weight: 500;
font-style: 'Medium';
font-size: 20px;
line-height: 1.2;
text-align: left;
letter-spacing: 0.02em;
}
/* кнопки фільтрів */
.button.filter{
  color: #4D5AE5;
  background-color:#E7E9FC ;
}
.button.filter:active,
.button.filter:hover,
.button.filter:focus{
  color: #FFFFFF;
  background-color:#404BBF ;
}
