:root {
  --link-color:#ffffff;)
}

body {
  color: #434455;
  background-color:var(--link-color);
  font-family: Roboto, sans-serif;
}
/* виключення стилів для списків */
.list {
  list-style: none;
}
/* Логотип шапки */
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-style: 'ExtraBold';
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-weight: 800;
  text-transform: uppercase; 
}
.logo-studio {
  color: #2e2f42;
}
/* Меню  */
.menu-nav a {
  color: #2e2f42;
  font-weight: 500;
  font-style: 'Medium';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* адрес */
.adres a {
  color: #434455;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adres{
  font-style: normal;
}
/* Зміна кольору при діях */
.link:active,
.link:hover,
.link:focus {
  color: #404bbf;
}
.link {
  text-decoration: none;
}
/* hero  */
.hero {
  background-color: #2e2f42;
}
.title-hero {
  color: var(--link-color);
  font-style: 'Bold';
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
/* не активна кнопка */
.button {
  color: var(--link-color);
  background-color: #4d5ae5;
  font-style: 'Medium';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
/* активна кнопка */
.button:hover,
.button:active,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* Заголовки секцій */
.title-section {
  color: #2e2f42;
  font-style: 'Bold';
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
/* заголовок підсекцій */
.title {
  font-weight: 500;
  color: #2e2f42;
  font-style: 'Medium';
  font-size: 20px;
  line-height: 1.2;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* текст */
.text {
  color: #434455;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 1.5;
  text-align: Left;
  letter-spacing: 0.02em;
}
/* фон секції команди */
.team-fon {
  background-color: #f4f4fd;
}
.list li {
  background-color:var(--link-color);
}
/* foter */
.footer {
  background-color: #2e2f42;
}
.logo-footer,
.text-footer {
  color:#f4f4fd;
}
/* загаловок карточок */
.title-card{
  color: #2E2F42;
  font-weight: 500;
font-style: 'Medium';
font-size: 20px;
line-height: 1.2;
text-align: left;
letter-spacing: 0.02em;
}
/* кнопки фільтрів */
.button.filter{
  color: #4D5AE5;
  background-color:#F4F4FD ;
}
.button.filter:active,
.button.filter:hover,
.button.filter:focus{
  color:var(--link-color);
  background-color:#404BBF ;
}
